.message {

padding: 0 30px;
}
.imageAndText {
display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
}

.imageAndText img {
    height: 48px;
    margin: 10px;
    max-width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /*position: relative;*/
    max-width: 90%;
/*//???*/
    border-radius: 10px;
    background-color: #0066cc;
    color: white;
    border: 1px solid #0066cc;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
}

.text:after {

}

.name {
    align-self: end;
}

.messageText {
white-space: pre-line;
}

.time {
    color: #000000;
}