.button {
}

.disabled {
background-color: lightblue;
}

.secondary {
    border: 1px solid blue;
    color: blue
}

.default {
}

.red {
    background-color: orangered;
}

.default:hover {
}

.red:hover {
    background-color:  red;
    border: none;
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
    background-color: darkred;
}

.button:disabled {
}
